<div class="flex items-center justify-between">

    <section class="flex items-center gap-x-2 sm:gap-x-6">
        <img class="w-10 sm:w-14 cursor-pointer" src="assets/media/health icon.png" alt="health logo" width="64">
        <span class="text-indigo-500 text-xl sm:text-4xl font-light">Afternoon David</span>
    </section>

    <section class="flex items-center gap-x-2 sm:gap-x-4 mr-2 sm:mr-0">
        <img class="w-10 sm:w-14 rounded-full aspect-square object-cover object-top" src="assets/media/user.jpg"
            alt="user" width="64">
        <span class="block text-indigo-500 text-2xl sm:text-[1.6rem] font-bold cursor-pointer">
            <fa-icon [icon]="faSortDown()" />
        </span>
    </section>

</div>