<div class="h-full p-5 sm:p-10 rounded-xl shadow-lg shadow-indigo-100 overflow-auto">
    <h3>To-do list</h3>

    <table class="mt-3 w-full min-w-[700px] table-fixed sm:table-auto">
        <thead class="bg-indigo-100 rounded">
            <tr class="rounded-xl">
                <th>&nbsp; &nbsp; &nbsp; Task</th>
                <th>Description</th>
                <th>Time</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngFor="let item of dataService.tasks();">

                <tr>
                    <td class="flex items-center gap-x-4">
                        <input type="checkbox" name="task" id="task"
                            class="relative peer block appearance-none outline-none w-4 h-4 ring-1 ring-indigo-500 bg-white checked:bg-indigo-600 rounded" />
                        <label class="block font-bold" for="task">{{item.task}}</label>
                        <svg class="hidden peer-checked:block absolute w-3 ml-[2px] text-white" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round"
                            stroke-linejoin="round">
                            <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                        </td>
                    <td>{{item.description}}</td>
                    <td>{{item.time}}</td>
                    
                    <td class="grid grid-cols-2">
                        <div class="text-indigo-500 font-bold cursor-pointer" (click)="editTask(item)">
                            <fa-icon [icon]="faEdit()" />
                        </div>
                        <div class="text-red-500 font-bold cursor-pointer" (click)="deleteTask(item.id)">
                            <fa-icon [icon]="faDelete()" />
                        </div>
                        </td>
                        </tr>
</ng-container>
        </tbody>
    </table>


    <div class="my-8 flex justify-end">
        <button class="flex items-center gap-x-3 py-2 px-3">
            <fa-icon [icon]="faPlus()" />
            <span>Add Task</span>
        </button>
    </div>

</div>
