thead{
    th{
        padding: 12px;
        text-align: left;
        @apply text-gray-500;

        &:first-child{
            padding-left: 14px;
            border-radius: 8px 0 8px 8px;
        }
        &:last-child{
            border-radius: 8px 8px 8px 0;
        }
    }
}

tbody{
    tr{
        @apply border-b-2 border-b-slate-100;

        &:first-child > td{
            margin-top: 20px;
        }

        td{
            padding: 10px;
            text-align: left;
        }
    }
}