@import "./tailwind";

/*
  Reset CSS
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

// material design global variables
* {
  --mdc-dialog-container-shape: 16px;
}

// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  //   global styling
  color: #191818;

  h3 {
    @apply text-xl sm:text-2xl text-indigo-700/80 font-bold;
  }

  form {
    input,
    textarea,
    select {
      @apply block appearance-none outline-none w-full p-4 ring-2 ring-indigo-800/30 bg-white checked:bg-indigo-600 placeholder:font-semibold rounded;
    }
  }

  button {
    @apply bg-indigo-700/80 text-white font-semibold rounded-lg;
  }
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

//custom classes

.ehealth-error{
  @apply mt-1 text-red-600 text-sm font-medium;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}
